<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/imdb.css') }}">
    <script src="{{url_for('static', filename='scripts/imdbScripts.js')}}" async></script>
  </head>

  <body>
  {% extends "layout.html" %}

  {% block content %}
  <div class="project-container">
    <div id="heading">
      <h1 id="title">IMDB Series Rating Chart Maker</h1>
      <p>
        This page let's you pick a series from IMDB and create a chart to see it's ratings.<br/>
        Just paste a link from a show on IMDB, and pick a color for your chart.
        Note: May take longer to run if a series has many episodes.
      </p>
    </div>


    <form id="imdbForm" method="POST">
      <label id="link-text" for="imdbLink">Paste a show's link from IMDB:</label>
      <input type="text" id="imdbLink" name="imdbLink" required>

      <label id="color-text" for="chart-color">Pick a color for your chart:</label>
      <!-- Website with other color values for reference -->
      <!-- https://medium.com/@morganjonesartist/color-guide-to-seaborn-palettes-da849406d44f -->
      <select name="chart-color" id="chart-color">
        <option value="Blues">Blue</option>
        <option value="Reds">Red</option>
        <option value="Greens">Green</option>
        <option value="YlOrBr">Yellow/Orange</option>
        <option value="Greys">Greyscale</option>
        <option value="Pastel1">Pastel</option>
      </select>

      <input type="submit" value="Submit">
    </form>

    {% if imdbLink %}
      <div id="imdb-content">
        <button id="clearButton" onclick="clearPage()">Clear Page</button>
        <img id="imdb-chart" src="{{ showRatingsChart }}">
      </div>
    {% endif %}

    {% if error %}
      <div id="error-message">
        <p>
          {{ error }}
        </p>
        <button id="clearButton" onclick="clearError()">Clear Error</button>
      </div>
    {% endif %}

    <script>
      function clearError() {
        document.getElementById("error-message").style.display = "none";
      }
    </script>
  </div>
  {% endblock %}

  </body>
</html>