<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nasa.css') }}">
    <script src="{{url_for('static', filename='scripts/nasaScripts.js')}}" async></script>
  </head>

  <body>
  {% extends "layout.html" %}

  {% block content %}
    <div class="project-container">
      <div id="heading">
        <h1 id="title">NASA's Astronomy Picture Of the Day</h1>
        <p>
          This will let you use NASA's APOD (Astronomy Picture Of the Day) API. <br>
          You will be able to view today's APOD, a random APOD, or an APOD from a day you pick. <br>
          APOD's can be pictures, gifs, or YouTube videos.
        </p>
      </div>

      <form method="POST">
        <label for="nasa-form" id="form-text">Pick a way to get an Image: </label>
        <select name="nasa-form" id="nasa-form" onchange="toggleCalendar()">
          <option name="getToday" value="getToday">Get Today's Image</option>
          <option name="getRandom" value="getRandom">Get a Random Image</option>
          <option name="getCustom" value="getCustom">Get a Specified Image</option>
        </select>

        <label class="customDate" id="date-text" for="customDate" style="display:none;">Pick a Date:</label>
        <input class="customDate" type="date" id="customDate" name="pickedDate" min="1995-06-16" max="" style="display:none;">
        <input type="submit" value="Submit">
      </form>
      
      <div id="APOD_Content">
        <button id="clearButton" style="display: none;" onclick="clearPage()">Clear Page</button>
        <p id="nasa_APOD_title"></p>
        <p id="nasa_APOD_date"></p>
        <img id="nasa_APOD_image" src="" width="80%">
        <iframe id="nasa_APOD_video" width="420" height="315" style="display: none;" allowfullscreen src=""></iframe> 
        <p id="nasa_APOD_exp" style="display: none;"></p>
      </div>

      <!-- If data is recieved, display below. -->
      {% if nasa_Data %}
        
      <!-- Displays the APOD data. -->
      <script>
        var nData = JSON.parse('{{ nasa_Data | tojson | safe}}');

        document.getElementById("clearButton").style = "display: block";
        document.getElementById("nasa_APOD_exp").style = "display: block";
        
        document.getElementById("nasa_APOD_title").textContent = nData.title;
        document.getElementById("nasa_APOD_date").textContent = nData.date;
      
        // Checks if APOD is a youtube video or picture and displays it in correct html element.
        if(nData.url.includes("youtube.com")) {
          document.getElementById("nasa_APOD_video").src = nData.url;
          document.getElementById("nasa_APOD_video").style = "display: block;"    // Displays video.
          document.getElementById("nasa_APOD_image").style = "display: none";     // Hides image.
        }
        else {
          document.getElementById("nasa_APOD_image").src = nData.hdurl;
          document.getElementById("nasa_APOD_video").style = "display: none;"     // Hides video.
          document.getElementById("nasa_APOD_image").style = "display: block;"    // Displays image.
        }

        document.getElementById("nasa_APOD_exp").textContent = nData.explanation;
      </script>
      {% endif %}

    </div>
  {% endblock %}

  </body>
</html>