/* Default mobile stylings */

/* Styles the heading. */
#heading {
  display         : flex;
  flex-direction  : column;
  align-items     : center;

  border          : solid 3px black;
  border-radius   : 10px;

  margin          : 5px 10px;
}

/* Styles the title in the heading. */
#title {
  font-size       : 2em;
  text-decoration : underline;
}

/* Centers most of telements in .project-container. */
div.project-container {
  display         : flex;
  flex-direction  : column;
  align-items     : center;

  gap             : 2em;
}

/* Styles the text input for imdb link. */
#imdbLink {
  font-size : 20px;
}

/* Styles font for text. */
label#link-text,
label#color-text {
  font-size : 16px;
}

/* Styles the dropdown for chart color options. */
form > #chart-color {
  border        : none;

  font-size     : 1.5em;
  font-weight   : bold;

  text-align    : center;

  border-radius : 10px;

  padding       : 10px 0;

  width         : 80vw;
}

/* Styles the submit button. */
form > input[type=submit] {
  font-size     : 1.2em;
  font-weight   : bold;

  width         : 50vw;

  border-radius : 10px;
  border        : none;

  padding       : 10px 0;
}


/* Centers the elements in the form and #APOD_Content. */
form {
  display        : flex;
  flex-direction : column;
  align-items    : center;

  gap            : 0.5em;
}

/* Adjusts te size of the chart. */
#imdb-chart {
  width : 100vw;
}

/* Styles the "Clear Page" button. */
#imdb-content > #clearButton {
  align-self    : flex-start;
  margin-left   : 20px;

  width         : 30vw;
  height        : 30px;

  font-weight   : bold;

  border        : none;
}

/* Highlights submit button when clicked. */
#imdbForm > input[type=submit]:active {
  background-color  : darkgray;
}


/* Desktop rules */
@media only screen and (pointer: fine) {

  /* Styles the drop down for chart color. */
  form > #chart-color {
    width         : 50vw;

    font-weight   : bold;
    font-size     : 46px;

    border        : solid 3px black;
    border-radius : 10px;

    text-align    : center;
  }

  /* Styles font for text. */
  label#link-text,
  label#color-text {
    font-size : 1.5em;
  }

  #imdbLink {
    font-size : 46px;
  }

  /* Styling the submit button in the form. */
  form > input[type=submit] {
    width         : 30vw;

    font-size     : 2em;
    font-weight   : bold;

    border        : none;
    border-radius : 10px;

    padding       : 10px 0;
  }
}
