/* Default mobile stylings. */

/* Adds a background color and rounded border to elements. */
#intro, 
#links {
  background-color : lightgray;

  padding          : 0.75em;

  border-radius    : 10px;
  border           : 1px solid black;
}

/* Styles the first word of the intro */
.greeting {
  font-weight : bold;
  font-size   : 24px;
}

/* Aligns text in links */
#links p {
  text-align       : center;
}

/* Styles links. */
#links a {
  color            : black;
  
  font-weight      : bold;
  text-decoration  : none;
}

/* Styles the body container. */
#body-container {
  display        : flex;
  flex-direction : column;

  margin         : 1em 10vw 0;
}

/* Styles intro */
#intro {
  margin-bottom : 2vh;
  text-align    : center;
}

#links {
  font-size : 20px;
  margin    : 0 0 2vh 0;
}

/* Desktop rules. */
@media only screen and (pointer: fine) {
  /* Styles the body container. */
  #body-container {
    margin-left  : 15vw;
    margin-right : 15vw;
  }

  /* Styles intro */
  #intro {
    margin-bottom : 5vh;
  }

  /* Styles the first word of the intro */
  .greeting {
    font-weight : bold;
    font-size   : 48px;
  }

  /* Styling for the text in #intro */
  #intro > p {
    font-size  : 42px;
    text-align : center;
  }

  #links {
    margin-left   : 10vw;
    margin-right  : 10vw;
    margin-bottom : 2vh;
  }
}
