/* Default mobile stylings. */

/* Adds a background color and rounded border to elements. */
#intro, 
#intro-2 div,
#links {
  background-color : lightgray;

  padding          : 0.75em;

  border-radius    : 10px;
  border           : 1px solid black;
}

/* Aligns text in links */
#links p {
  text-align       : center;
}

/* Styles links. */
#links a {
  color            : black;
  
  font-weight      : bold;
  text-decoration  : none;
}

/* Styles the body container. */
#body-container {
  display        : flex;
  flex-direction : column;

  margin         : 1em 10vw 0;
}

/* Styles intro */
#intro {
  margin-bottom  : 2vh;
}

#intro-2 {
  display            : flex;
  flex-direction     : column;
  /* justify-content : space-around; */
  /* align-content   : space-between; */
  gap                : 10px;
  margin-bottom      : 5vh;
}

#links {
  font-size : 20px;
}

/* Desktop rules. */
@media only screen and (pointer: fine) {
  /* Styles intro */
  #intro {
    margin-bottom : 5vh;
  }

  /* Styling for the text in #intro */
  #intro > p {
    font-size : 42px;
  }

  /* Styles the items in intro-2 */
  #intro-2 > div {
    font-size : 24px;
  }

  /* Creates a grid of 2 columns */
  #intro-2 {
    display               : grid;
    grid-template-columns : auto auto;
  }

  #links {
    margin : 2vh 10vw;
  }
}
