/* Default mobile stylings */

/* Styles the heading. */
#heading {
  display         : flex;
  flex-direction  : column;
  align-items     : center;

  border          : solid 3px black;
  border-radius   : 10px;

  margin          : 5px 10px;
}

/* Styles the title in the heading. */
#title {
  font-size       : 2em;
  text-decoration : underline;
}

/* Centers most of telements in .project-container. */
div.project-container {
  display         : flex;
  flex-direction  : column;
  align-items     : center;

  gap             : 2em;
}

/* Hides the border from buttons and inputs. */
select#nasa-form,
form > input[type=submit],
#APOD_Content > #clearButton {
  border  : none;
}

/* Centers the text in the heading. */
div#heading > h1,
div#heading > p {
  text-align  : center;
}

/* Aligns the dropdown items. */
form > #nasa-form > option {
  text-align: center;
}

/* Styling the dropdown. */
form > #nasa-form {
  border        : none;
  font-size     : 1.5em;
  font-weight   : bold;

  width         : 80vw;

  padding       : 10px 0;
  
  border-radius : 10px;
}

/* Styles the submit button. */
form > input[type=submit] {
  font-size     : 1.2em;
  font-weight   : bold;

  width         : 50vw;
  /* height        : 50px; */

  border-radius : 10px;

  padding       : 10px 0;
}

/* Centers the elements in the form and #APOD_Content. */
form,
#APOD_Content {
  display         : flex;
  flex-direction  : column;
  align-items     : center;

  gap   : 0.5em;
}

/* Styles the date picker */
form > #customDate {
  font-size: 2em;
}

/* Styles font size for text. */
label#form-text,
label#date-text {
  font-size: 1.5em;
}

/* Styles the "Clear Page" button. */
#APOD_Content > #clearButton {
  align-self    : flex-start;
  margin-left   : 20px;

  width         : 30vw;
  height        : 30px;

  font-weight   : bold;
}

/* Bolds the font of the APOD title and date. */
#APOD_Content > #nasa_APOD_title,
#APOD_Content > #nasa_APOD_date {
  font-weight     : bold;
  text-decoration : underline;
  font-style      : italic;
}

/* Adds a border to the APOD explanation. */
#APOD_Content > #nasa_APOD_exp {
  padding       : 1em;
  margin        : 1em;

  border        : 5px black solid;
  border-radius : 25px;
}

/* Highlights submit button when clicked. */
form > input[type=submit]:active {
  background-color  : darkgray;
}



/* Desktop rules */
@media only screen and (pointer: fine) {
  /* Styling the dropdown  */
  form > #nasa-form {
    width         : 50vw;

    font-weight   : bold;
    font-size     : 46px;

    border        : solid 3px black;
    border-radius : 10px;

    text-align    : center;

    padding       : 10px 0;
  }

  /* Styling the submit button. */
  form > input[type=submit] {
    width         : 30vw;
  
    font-size     : 2em;
    font-weight   : bold;
  
    border-radius : 10px;
    padding       : 10px 0;
  }
}
