/* layout.html STYLINGS */

/* Styles the top header text. */
h1 {
  border      : 2px #eee solid;
  text-align  : center;
  padding     : 10px;
  margin      : 10px;

  color : white;
  float: left;
}

/* Adds background color to top navigation bar. */
#nav-bar-container {
  background-color  : rgb(160, 160, 160);

  overflow  : hidden;

  display: flex;
}

/* Disables highlighting on elements. */
.no-select {
  -webkit-touch-callout : none; /* iOS Safari */
  -webkit-user-select   : none; /* Safari */
  -khtml-user-select    : none; /* Konqueror HTML */
  -moz-user-select      : none; /* Old versions of Firefox */
  -ms-user-select       : none; /* Internet Explorer/Edge */
  user-select           : none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* Styles links inside navigation bar. */
#nav-bar-container a {
  font-size       : 17px;
  font-family     : 'Courier New', Courier, monospace;
  text-decoration : none;

  text-align      : center;
  padding         : 14px 16px;
  float           : left;
  /* display         : block; */

  color   : #f2f2f2;
}

/* Removes margin. */
body {
  margin: 0;
}

/* Positioning and styling of the dropdown container. */
#projects-dropdown {
  color   : #f2f2f2;

  font-size   : 17px;
  font-family :'Courier New', Courier, monospace;

  float     : left;
  overflow  : hidden;
  
}

/* Styling of the dropdown button. */
#dropdown-button {
  color             : inherit;
  background-color  : inherit;
  font-family       : inherit;
  font-size         : inherit; 
  font-style        : inherit;

  border      : none;
  outline     : none;
  padding     : 14px 16px;
  margin      : 0;
}

/* Styling of the dropdown content. (Hidden by default) */
#dropdown-content {
  background-color  : #f9f9f9;
  box-shadow        : 0px 8px 16px 0 px rgba(0, 0, 0, 0.2);

  display   : none;
  position  : absolute;

  min-width : 160px;
  z-index   : 1;
}

/* Styling of the dropdown content links. */
#dropdown-content a {
  color           : black;
  text-decoration : none;
  text-align      : left;

  display : block;
  float   : none;
  padding : 12px 16px;
}

/* Hides the hamburger icon on desktop. */
#hamburger-icon {
  display : none;
}

/* Mobile rules. */
@media screen and (max-width: 600px) {
  /* Hide all links except home.
  Show icon that opens/closes navbar. */
  #home ~ a:not(#hamburger-icon),
  #projects-dropdown #dropdown-button {
    display : none;
  }

  #nav-bar-container > #hamburger-icon {
    float   : right;
    display : block;
  }
}

/* Desktop rules. */
@media screen {
  /* Changes link color in nav-bar-container on hover. */
  #nav-bar-container a:hover,
  #projects-dropdown:hover,
  #dropdown-button:hover {
    background-color  : #555;
    color             : white;
  }

  /* Displays the dropdown content on hover. */
  #projects-dropdown:hover #dropdown-content {
    display : block;
  }

  /* Changes background and text color of Projects dropdown links on hover. */
  #dropdown-content a:hover {
    background-color  : rgb(192, 192, 192);
    color             : black;
  }
}
