/* Styles the top header text. */
h1 {
  border: 2px #eee solid;
  color: orange;
  text-align: center;
  padding: 10px;
}

/* Adds background color to top navigation bar. */
#nav-bar-container {
  background-color: rgb(160, 160, 160);
  overflow: hidden;
}

/* Styles links inside navigation bar. */
#nav-bar-container a {
  float: left;
  color: #f2f2f2;
  text-align:center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Courier New', Courier, monospace;
}
