<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  </head>

{% extends "layout.html" %}

{% block content %}
<body>
  <div id="body-container">
    <div id="intro">
      <p>
        <span class="greeting">Hi.</span> My name is Hector Suazo, and this is my website.
      </p>
    </div>

    <div id="intro-2">
      <div>
        <p class="intro-2-title">Experience</p>
        With a B.S. in Computer Science, this website serves as my portfolio and a way to showcase my skills.
      </div>
      <div>
        <p class="intro-2-title">Purpose</p>
        I created this website using Python and the Flask framework. <br>
        I picked Flask because I enjoy using Python and its vast library of modules 
        such as NumPy, Matplotlib, and Seaborn. <br>
        As for the design of the website, it was made from scratch using vanilla CSS and no frameworks.
      </div>
      <div>
        <p class="intro-2-title">What</p>
        I have projects involving APIs, recreating a page with a given template, and more.
      </div>
      <div>
        <p class="intro-2-title">More What</p>
        In addition to Python, I am familiar with HTML, CSS, JavaScript, Ruby, Java. <br>
        I also have some past experience with C++ and Java.
      </div>
    </div>

    <div id="links">
      <p>To see my projects,<br> <a href="{{ url_for('all_projects') }}">Click Here</a></p>
      <br>
      <p>To see my GitHub,<br> <a href="https://github.com/suzuhe481">Click Here</a</p>
    </div>
  </div>
</body>
{% endblock %}
</html>
