<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  </head>

{% extends "layout.html" %}

{% block content %}
<body>
  <div id="body-container">
    <div id="intro">
      <p>
        Hi, my name is Hector Suazo, and this is my website.
      </p>
    </div>

    <div id="intro-2">
      <p class="right-margin">
        This website serves as my portfolio and way to showcase my skills.
      </p>
      <p class="left-margin">
        I created this website using Python and the Flask framework.
        I enjoy the vast amount of libraries available in Python, such as NumPy, Matplotlib, and Seaborn.
        I also did not use any CSS framework, such as Bootstrap, in the creation of this site.
      </p>
      <p class="right-margin">
        I have projects involving APIs, recreating a page based on a template, and more.
      </p>
      <p class="left-margin">
        In addition to Python, I am familiar with HTML, CSS, JavaScript, Ruby, Java, C++.
      </p>
    </div>

    <div id="links">
      <p>To see my projects,<br> <a href="">Click Here</a></p>
      <br>
      <p>To see my GitHub,<br> <a href="https://github.com/suzuhe481">Click Here</a</p>
    </div>
  </div>
</body>
{% endblock %}
</html>
