<!DOCTYPE html>
<html>
    <head>
      {% if title %}
        <title>{% block title %} {{title}} {% endblock %}</title>
      {% else %}
        <title>Hector Suazo</title>
      {% endif %}

        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        {# This is a jinja comment which is needed since html comments are still read. #}
    </head>
    
    <body>
      <div id="nav-bar-container">
        <a href="{{ url_for('index') }}">Home</a>
        <a href="">Project 1</a>
        <a href="">Project 2</a>
        <a href="{{ url_for('about') }}">About</a>
      </div>

      <h1>My Portfolio Website</h1>

      <div class="container">
          {% block content %}
          {% endblock %}
      </div>
    </body>
</html>
